*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navstil, .users {
  display: flex;
  gap: 20px;

  a {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 7px;
    background-color: #F80102;
    color: white;
    border: 1px solid transparent;

    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: #fff;
      color: #000;
      border: 1px solid #F80102;
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

header {
  width: 100vw;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;

  .logo {
    height: 40px;
    width: auto;
  }
}

.notFound {
  text-align: center;
}


.users_page {
  display: flex;
  gap: 100px;
  padding: 25px 100px;

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .users {
      flex-direction: column;
    }
  }

}

.register {
  width: 500px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  gap: 25px;
  text-align: center;

  input {
    width: 100%;
  }

  button[type=submit] {
    background: #F80102;
    color: #fff;
    transition: background-color .3s ease-in-out;

    &:hover {
      background: #da0303;
    }
  }
}

.loader {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #b40000;
  margin: 20px auto;
  border-top: 0;

  animation: spin ease-in-out 1s infinite;

}
@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.page {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 7px;
  background-color: #F80102;
  color: white;
  border: 1px solid transparent;

  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #F80102;
  }
}

.active_page {
  background-color: #980303;
}